.category-page {
  text-align: left;

  &__footer {
    margin-top: 3rem;
    text-align: center;
  }
  .load-more {
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    height: 75px;
    .down-arrow {
      transition: all 0.5s;
    }
    &:hover,
    &:active {
      cursor: pointer;
      color: #f78181;
      .down-arrow {
        margin-top: 0.5rem;
      }
    }
  }
}
