.category {
  &__menu {
    list-style: none;
    margin-top: 3rem;
    font-size: 1.1rem;
    &--list {
      display: inline-block;
      text-transform: capitalize;
      line-height: 2;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    &--link {
      text-decoration: none;
      transition: all 0.5s;

      &:hover,
      &:active {
        cursor: pointer;
        color: #f78181;
        padding-bottom: 1rem;
      }
    }
  }
}
.isHeader {
  color: #404040;
  &:hover,
  &active {
    border-bottom: 2px solid #f78181;
  }
}
.isFooter {
  color: #fff;
}
