.landing-section {
  // display: inline-flex;
  border-top: 0.5px solid rgba(128, 128, 128, 0.384);
  padding-top: 2rem;
  margin: 0 auto;
  // width: 70vw;
  // height: 100%;

  &__main-slider {
    width: 100%;
    height: 100%;
  }
  &__seconday-section {
    height: 100%;
    padding: 1rem;
    font-size: 0.5rem;
  }
}

// CAROUSEL STYLING
.ant-carousel .slick-slide {
  height: 100%;
  margin-bottom: 0;
  overflow: hidden;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
