.landing-section {
  border-top: 0.5px solid rgba(128, 128, 128, 0.384);
  padding-top: 1rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: 991px) {
    &__seconday-section {
      display: none;
    }
  }
  &__seconday-section {
    font-size: 0.5rem;
  }
}

// CAROUSEL STYLING
.ant-carousel .slick-slide {
  height: 100%;
  margin-bottom: 0;
  overflow: hidden;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
