.landing-section {
  //   position: relative;
  border-top: 0.5px solid rgba(128, 128, 128, 0.384);
  padding-top: 2rem;
  margin: 0 auto;
  width: 80vw;
  height: 40vh;
  display: inline-block;

  &__main-slider {
    width: 67.6%;
    height: 100%;
  }
  &__seconday-section {
    width: 100 - 67.6%;
  }
}
.slider {
  position: relative;
  height: 40vh;
  width: 100%;
  &__image {
    height: 100%;
    width: 100%;
  }
  &__detail {
    position: absolute;
    color: #fff;
    bottom: 2rem;
    left: 3rem;
    text-align: left;

    &--title {
      font-size: 1.5rem;
      width: 50%;
    }
  }
}

// CAROUSEL STYLING
.ant-carousel .slick-slide {
  min-height: 10vh;
  height: 160px;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
